@import "_variables.sass"
@import "_mixins.sass"
@import "_typography.sass"

html
  height: 100%

body
  height: 100%
  margin: 0

.app
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  background: $light

.divider
  position: relative
  &::after
    content: ""
    position: absolute
    left: 36%
    bottom: 0px
    width: 28%
    height: 1px
    background: $dark
    z-index: 1

a,
button
  @include text
  display: inline-block
  text-decoration: none
  color: $forground
  min-width: 120px

a.btn-link,
button.btn-link
  text-decoration: underline !important
  color: $brand-blue !important

a.btn-link.selected,
button.btn-link.selected
  text-decoration: none !important
  color: $brand-grey !important
  // font-weight: bold !important

a.frame,
button.frame
  padding: 1rem
  @include frame

.frame
  @include frame
  &.selected
  @include frameSelected
  &.fake
  @include frameFake
  &.real
  @include frameReal
