@import "_variables.sass"
@import "_mixins.sass"
@import "_typography.sass"

// TODO: remove below if is unused
// @import "_debug.sass"
// @import "_templates.sass"

html
  height: 100%

body
  height: 100%
  margin: 0

.app
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center

.divider
  position: relative
  &::after
    content: ""
    position: absolute
    left: 36vw
    bottom: 0px
    width: 28vw
    height: 1px
    background: #000000
    z-index: 1

//todo: clean this logic
a, button
  padding: .5rem 0
  @include frameLight

.frameLight
  @include frameLight
  &.selected
    @include frameLightSelected
