@import "_variables.sass"
@import "_mixins.sass"
@import "_typography.sass"

html
  height: 100%

body
  height: 100%
  margin: 0

.app
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  background: $light

.divider
  position: relative
  &::after
    content: ""
    position: absolute
    left: 36%
    bottom: 0px
    width: 28%
    height: 1px
    background: $dark
    z-index: 1

a,
button
  @include text
  display: inline-block
  text-decoration: none
  color: $forground
  min-width: 120px

a.btn-link,
button.btn-link
  text-decoration: underline !important
  color: $brand-blue !important

a.btn-link.selected,
button.btn-link.selected
  text-decoration: none !important
  color: $brand-grey !important
  // font-weight: bold !important

a.frame,
button.frame
  padding: 1rem
  @include frame

.disabled
  background: hsl(0, 0%, 92%)
  color: #a4a4a4
  border: 10px solid #cac9cb !important


.frame
  @include frame

.frame.selected
  @include frameSelected

.explanation-page .frame.fake,
.submited .frame.fake
  @include frameFake

.explanation-page .frame.real,
.submited .frame.real
  @include frameReal

.correct
  color: $brand-green
  position: relative
  &::after
    @include topCenter100
    @include correctBackground

.wrong
  color: $brand-red
  position: relative
  &::after
    @include topCenter100
    @include wrongBackground