@mixin flex-row
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  align-content: stretch
  align-items: stretch

@mixin flex-row-item
  order: 0
  flex: 0 1 auto
  align-self: stretch

@mixin flex-col
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  justify-content: flex-start
  align-content: stretch
  align-items: stretch

@mixin flex-col-item
  order: 0
  flex: 0 1 auto
  align-self: auto


@mixin text
  background: none
  border: none
  outline: none

@mixin frame
  border: 7px solid $dark
  // -webkit-border-image: url('~@/assets/img/frame.png') 25% 25%
  border-image: url('~@/assets/img/frame.png') 25% 25%
  cursor: pointer
  outline: none
  -webkit-tap-highlight-color: transparent


@mixin frameFake
  background: $white
  border: 8px solid $brand-red
  // -webkit-border-image: url('~@/assets/img/frame_fake.png') 25% 25%
  border-image: url('~@/assets/img/frame_fake.png') 25% 25%
  cursor: pointer

@mixin frameReal
  background: $white
  border:  7px solid $brand-green
  // -webkit-border-image: url('~@/assets/img/frame_real.png') 25% 25%
  border-image: url('~@/assets/img/frame_real.png') 25% 25%
  cursor: pointer

@mixin frameSelected
  background: $white
  border:  7px solid $dark
  // -webkit-border-image: url('~@/assets/img/frame_selected.png') 25% 25%
  border-image: url('~@/assets/img/frame_selected.png') 25% 25%
  cursor: pointer

@mixin frameDisabled
  background: $white
  border:  7px solid $grey
  // -webkit-border-image: url('~@/assets/img/frame_disabled.png') 25% 25%
  border-image: url('~@/assets/img/frame_disabled.png') 25% 25%
  cursor: not-allowed

@mixin imageBackground
  background: #221100 url('~@/assets/img/ui-loader.gif') top center no-repeat
  background-size: cover

@mixin videoBackground
  background: #221100 url('~@/assets/img/ui-loader.gif') top center no-repeat
  background-size: cover

@mixin selectedBackground
  background: rgba(0, 0, 0, 0.7) url('~@/assets/img/check-mark.png') center center no-repeat
  background-size: 25% auto

@mixin correctBackground
  background: transparent url('~@/assets/img/icon-correct.png') center center no-repeat
  background-size: 100% 100%

@mixin wrongBackground
  background: transparent url('~@/assets/img/icon-wrong.png') center center no-repeat
  background-size: 100% 100%

@mixin topCenter100
  content: ""
  position: absolute
  top: -12.5rem
  left: calc(50% - (12.5rem/2))
  width: 12.5rem
  height: 12.5rem

@mixin transitionEffect
  transition: all .25s ease-in
  transition-delay: .05s

@mixin modalContainer
  background: $white
  box-shadow: 0rem 0rem 10rem 0rem rgba(0, 0, 0, 0.2)
  border-radius: 0.5rem

@mixin border
  border: 2px solid $brand-grey

@mixin fillContainer
  top: 0
  right: 0
  bottom: 0
  left: 0

@mixin timesBackground
  background: $light url('~@/assets/img/icon-times.png') center center no-repeat
  background-size: 2.5rem 2.5rem