@mixin flex-row
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  align-content: stretch
  align-items: stretch

@mixin flex-row-item
  order: 0
  flex: 0 1 auto
  align-self: stretch

@mixin flex-col
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  justify-content: flex-start
  align-content: stretch
  align-items: stretch

@mixin flex-col-item
  order: 0
  flex: 0 1 auto
  align-self: auto


@mixin text
  background: none
  border: none
  outline: none

@mixin frame
  border: 1.25rem solid transparent
  border-image: url('~@/assets/img/frame.svg') 40% round
  cursor: pointer
  outline: none
  -webkit-tap-highlight-color: transparent

@mixin frameFake
  background: $white
  border: 1.25rem solid $brand-red
  border-image: url('~@/assets/img/frame_fake.svg') 40% round
  cursor: pointer

@mixin frameReal
  background: $white
  border:  1.25rem solid $brand-green
  border-image: url('~@/assets/img/frame_real.svg') 40% round
  cursor: pointer

@mixin frameSelected
  background: $white
  border:  1.25rem solid $dark
  border-image: url('~@/assets/img/frame_selected.svg') 40% round
  cursor: pointer

@mixin imageBackground
  // background: #221100 url('~@/assets/img/image_background.svg') top center no-repeat
  background: #221100 url('~@/assets/img/checkers_background.svg')

@mixin videoBackground
  background: #221100 url('~@/assets/img/video_background.svg') top center no-repeat
  background-size: 100% 100%

@mixin selectedBackground
  background: rgba(0, 0, 0, 0.7) url('~@/assets/img/check-mark.svg') center center no-repeat
  background-size: 25% 25%

@mixin correctBackground
  background: transparent url('~@/assets/img/icon-correct.svg') center center no-repeat
  background-size: 100% 100%

@mixin wrongBackground
  background: transparent url('~@/assets/img/icon-wrong.svg') center center no-repeat
  background-size: 100% 100%

@mixin topCenter100
  content: ""
  position: absolute
  top: -12.5rem
  left: calc(50% - (12.5rem/2))
  width: 12.5rem
  height: 12.5rem

@mixin transitionEffect
  transition: all .35s ease-in
  transition-delay: .15s

