@import _variables
@import _mixins

html,
body
  font-size: 16px

@for $i from 1 through 100
  html.scale-#{$i},
  html.scale-#{$i} body
    font-size: calc(100% * #{$i / 100} / 2)

@mixin h1
  font-size: 9rem
  letter-spacing: 0.1rem
  line-height: 1.5
  text-align: center
  font-family: 'Jost400Book'
  font-weight: 400

@mixin h2
  font-size: 5rem
  letter-spacing: 0.1rem
  line-height: 1.5
  text-align: center
  font-family: 'Jost300Light'
  font-weight: 300

@mixin h3
  font-size: 4.5rem
  letter-spacing: 0.1rem
  line-height: 1.5
  font-family: 'Jost400Book'
  text-align: left
  font-weight: 400

h1
  color: $forground
  margin: 0
  padding: 0
  @include h1

h2
  color: $forground
  margin: 0
  padding: 0
  @include h2

h3
  color: $forground
  margin: 0
  padding: 0
  @include h3

.welcome-message,
.welcome-message *
  font-size: 3rem
  letter-spacing: 0.1rem
  line-height: 1.2
  text-align: center
  font-family: 'Jost400Book'
  font-weight: 400

a, button, label
  font-size: 3rem
  letter-spacing: 0.1rem
  line-height: 1.5
  font-family: 'Jost400Book'
  font-weight: 400

p, .user-input
  font-size: 3rem
  letter-spacing: 0.1rem
  line-height: 1.5
  text-align: left
  font-family: 'Jost400Book'
  font-weight: 400
  margin-bottom: 1rem
  color: $forground

.h1
  @include h1
  text-align: left

.h2
  @include h2
  text-align: left

.h3
  @include h3
  text-align: left

.user-input h1, .user-input h2, .user-input  h3
  text-align: left
  margin-bottom: 1rem
