@import "_variables.sass"
@import "_mixins.sass"

h1, h2, h3
  margin: 0
  padding: 0
  color: $forground

h1
  @include h1

h2
  font-size: 4vh
  letter-spacing: 0vh
  line-height: 1
  font-family: 'Jost300Light'
  font-weight: 300

h3
  font-size: 3vh
  letter-spacing: 0vh
  line-height: 3.2vh
  font-family: 'Jost400Book'
  text-align: left
  font-weight: 400
  margin-bottom: 1vh

.welcome-message
  font-size: 2vh
  letter-spacing: 0vh
  line-height: 1.4
  text-align: left
  font-family: 'Jost400Book'
  font-weight: 400

a, button
  font-size: 3vh
  letter-spacing: 0vh
  line-height: 1
  font-family: 'Jost400Book'
  font-weight: 400

p,
.user-input
  font-size: 2vh
  margin: 0 0 1vh 0
  letter-spacing: 0vh
  line-height: 1.4
  text-align: left
  font-family: 'Jost400Book'
  font-weight: 400
  color: $forground

p.h1
  @include h1
  text-align: left

.user-input h1, .user-input h2, .user-input  h3
  text-align: left
  margin-bottom: 1rem

.two-columns p
  column-count: 2
  column-gap: 2vh
  column-fill: balance
  column-rule: none
  column-span: auto
  column-width: 50%