$brand: pink
$brand-complement: complement( $brand )

$amount: 10
$brand-darker: darken($brand, $amount)
$brand-darker: darken($brand, $amount)

$light: white
$dark: black

$background: $light
$forground: $dark

$positive: $background
$negative: $forground

$neutral:       rgba(122,   122,    122,    .1)
$info:          rgba(0,     255,    255,    .1)
$happy:         rgba(255,   255,    0,      .1)
$warning:       rgba(255,   122,    0,      .1)
$valid:         rgba(0,     0,      255,    .1)
$success:       rgba(0,     255,    0,      .1)
$danger:        rgba(255,   0,      0,      .1)
$terminated:    rgba(0,     122,    255,    .3)

$gap: 2vh

